*.font: sans:size=12

! Dracula Xresources palette
*.bg:         #282A36
*.foreground: #F8F8F2
*.background: #E6282A36
*.color0:     #21222c
*.color8:     #6272a4
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #9370DB
*.color12:    #B18EF9
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
