[Desktop Entry]
Name=dwm
Comment=Executes the .xinitrc script in your home directory
Exec=xinitrcsession-helper
TryExec=xinitrcsession-helper
Type=Application
