workspace "browser"
workspace "terminal"

input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
            options "ctrl:nocaps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

gestures {
    hot-corners {
        off
    }
}

binds {
    Mod+Return { spawn "ghostty"; }
    Mod+Space { spawn "rofi" "-show" "drun"; }

    Mod+q { close-window; }
    Mod+f { fullscreen-window; }
    Mod+o { toggle-overview; }

    Mod+Up { focus-window-or-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Alt+Up { move-window-to-workspace-up; }
    Mod+Alt+Down { move-window-to-workspace-down; }
    Mod+Alt+Left { move-column-left; }
    Mod+Alt+Right { move-column-right; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp { spawn "brightnessctl" "s" "5%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "s" "5%-"; }

    Print { screenshot-screen show-pointer=false; }
    Ctrl+Print { screenshot show-pointer=false; }

    Mod+i { spawn "sysinfo.sh"; }
    Mod+l { spawn-sh "swaylock -i $HOME/.dotfiles/wallpapers/flcl.png; systemctl suspend"; }
    Ctrl+l { quit; }
}

switch-events {
    lid-close { spawn "swaylock" "-i" "$HOME/.dotfiles/wallpapers/flcl.png"; }
}

layout {
    focus-ring {
        width 2
        active-color "#b18ef9"
    }
}

window-rule {
    open-maximized true
    draw-border-with-background false
}

window-rule {
    match at-startup=true app-id=r#"^app\.zen_browser\.zen$"#
    open-on-workspace "browser"
}

window-rule {
    match at-startup=true app-id=r#"^com\.mitchellh\.ghostty$"#
    open-on-workspace "terminal"
}

hotkey-overlay {
    skip-at-startup
}

spawn-sh-at-startup "swaybg -m fill -i $HOME/.dotfiles/wallpapers/flcl.png"
spawn-at-startup "notifications.sh"
spawn-at-startup "ghostty"
spawn-at-startup "app.zen_browser.zen"
